@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    justify-content: center;
}

.inputSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 85px;
}

.registerTitle {
    font-family: "Inter";
    font-weight: 700;
    font-size: 4rem;
    color: #313552;
    margin-top: 72px;
}

.registerSubtitle {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.25rem;
    color: #ADAEBA;
    margin-top: 4px;
    margin-bottom: 20px;
}

.inputTitle {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
}

.inputBox {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
    height: 48px;
    width: 276px;
    border-radius: 8px;
    margin-right: 87px;
    margin-bottom: 49px;
    border-color: black;
}

.cancelButton {
    font-family: "Inter";
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 8px;
    border: hidden;
    height: 48px;
    width: 285px;
    background-color: black;
    color: white;
}

.addButton {
    font-family: "Inter";
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 8px;
    border: hidden;
    height: 48px;
    width: 285px;
    background-color: #CD3F3E;
    color: white;
}

.addButton:hover {
    background: #e73f3e;
}

.addButton:active {
    background: #CD3F3E;
}

.cancelButton:hover {
    background: #1C1C1C;
}

.cancelButton:active {
    background: black;
}