@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


.contacts-title {
    font-size: 4em;
    font-weight: 700;
    color: #313552;

    margin-top: 4.5rem;
}

.contats-subtitle {
    font-size: 1.25em;
    font-weight: 400;
    color: rgba(49, 53, 82, 0.4);

    margin-top: 0.25rem;
}

.contacts-title, .contats-subtitle, .new-contact-container {
    font-family: 'Inter', sans-serif;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: center;
}

.new-contact-container {
    height: 3rem;
    width: 50rem;
    background: #DC3F3E;
    hover: #FFFFFF;
    border-radius: 0.5rem;  
    border: none;

    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    justify-content: left;
}

.new-contact-container:hover {
    background: #e73f3e;
}

.new-contact-container:active {
    background: #CD3F3E;
}

.plus-icon {
    color: #FFFFFF;
    
    line-height: 50%;

    margin-right: 1rem;
    margin-left: 1.3rem;
}

.add-new-contact-text {
    font-weight: 50;
    font-size: 1.35rem;
    color: #FFFFFF;
}