@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.contacts-table {
    padding-top: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    padding-left: 3.8rem;
    padding-right: 3.8rem;
}

.column-title {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}